@model MVC_Group3.Models.Shoe

<h2>Thêm sản phẩm mới</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Price">Giá</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ImageUrl">Ảnh sản phẩm</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>
